## String:
* String in python are surrounded by single or double quotation marks

In [86]:
#Example:
print("Hello all!")

Hello all!

## Slicing in String
The following code will give an idea of slicing

In [4]:
s1 = "HelloWorld!" #s1 hold the string value as HelloWorld!
s2 = s1[0:5:2]
print(s2)

Hlo

## String Concatenation 
This will give an idea for concating two strings

In [15]:
s1 = "Bhaskar"
s1 = s1+" Bharati"
print(s1+" is my full name")

Bhaskar Bharati is my full name

## Tuple 
* Tuple is defined as objects with data type 'tuple'
* Tuple items are ordered (order wont change), unchangeable(immutable), and allow duplicate values

In [25]:
#looping around the tuple 
tuple1 = (1,2,"Apple","Ball",1.0,2.0)
print(tuple1)
for x in tuple1:
    print(x)

(1, 2, 'Apple', 'Ball', 1.0, 2.0)
1
2
Apple
Ball
1.0
2.0

In [27]:
#Merging two tuple values:
tuple1 = (1,2,3)
tuple2 = ("Apple","Ball","Cat")
MergeTuple = tuple1+tuple2
print(MergeTuple)

(1, 2, 3, 'Apple', 'Ball', 'Cat')

## List
* List is ordered, mutable and allow duplicate values

In [30]:
#Adding List Items by using append() method:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [38]:
#Adding List Items at any index by using insert() method:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1,"orange") # insert(int,anyDatatypeValue).....insert take two arguments
print(thislist)

['apple', 'orange', 'banana', 'cherry']

## List Comprehension:
* List Comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list

### Example:

In [45]:
#This is the traditional way:
cars = ["Mercedes", "BMW", "Toyota", "Audi"]
newlist = [] #this will be the new list to store the desired values we want from the existing list(cars)

for x in cars:
    if "a" in x:
        newlist.append(x)
print(newlist) 

#Using List Comprehension:
cars = ["Mercedes", "BMW", "Toyota", "Audi"]
newlist = [x for x in cars if "a" in x]
print(newlist)

['Toyota']
['Toyota']

## Dictionary:
* Dictionary items are ordered, changeable, and dont allow duplicates.
* Dictionary are written with curly brackets, and have keys and values.
* Dictionary allows multiple Data types including list data types.

In [48]:
#create and print dictionary values:
thisdict = {"Make":"Toyota", "Model":"Camry","Year":2015}
print(thisdict)

{'Make': 'Toyota', 'Model': 'Camry', 'Year': 2015}

In [62]:
#Example: Dictionary support different Data Types including List:
thisdict = { "Make": "Toyota","year": 2015,"colors":["silver","brown","black"]}
print(thisdict)

#can access the value with key name:
print(thisdict["Make"]) #With key name "Make" it return the value Toyota
#or also can use get() and or keys() methods

{'Make': 'Toyota', 'year': 2015, 'colors': ['silver', 'brown', 'black']}
Toyota

In [58]:
#Example: Adding items in the dictionary:
thisdict = {"Make":"Toyota", "Model":"Camry","Year":2015}
print(thisdict) #before changing or existing values

thisdict["Color"]="Silver"
print(thisdict) #after adding new key and value 

#Note: Dictionary is Mutable datatype

{'Make': 'Toyota', 'Model': 'Camry', 'Year': 2015}
{'Make': 'Toyota', 'Model': 'Camry', 'Year': 2015, 'Color': 'Silver'}

In [66]:
#Example: Loop Dictionaries
thisdict = {"Make":"Toyota", "Model":"Camry","Year":2015}

for x in thisdict:
    print(x) #will print the key names

for x in thisdict:
    print(thisdict[x]) #will print the value names

Make
Model
Year
Toyota
Camry
2015

In [84]:
#Nested Loop 
mycar = {
  "car1" : {
    "model" : "Honda",
    "year" : 1999
  },
  "car2" : {
    "model" : "Corolla",
    "year" : 2003
  },
  "car3" : {
    "model" : "Camry",
    "year" : 2015
  }
}


for x in mycar:
    print(x)
    print(mycar[x])

car1
{'model': 'Honda', 'year': 1999}
car2
{'model': 'Corolla', 'year': 2003}
car3
{'model': 'Camry', 'year': 2015}